.feynman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    color: #2f80ed;
    text-decoration: none;
    font-size: 36px;
    line-height: 51px;
    opacity: 1;
    transition: opacity 1.5s ease-in;
}

.feynman__link:hover {
    opacity: .33;
  }